*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    align-items: center;
    
    font-family: fantasy;
    font-size: 25px;
    
    color: white;
    
    text-align: center;
    
    background-position: -15px 625px;
    background-repeat: repeat-x;
    background-size: 65% 45%;
    background-color: rgb(140, 150, 200);
}

a {
    text-decoration: none;
}

#background-image {
    position: fixed;

    width: 100vw;
    
    bottom: -275px;
    
    z-index: -100;
    
    opacity: 0.2;
}

#game-holder {
    height: 50%;
}

#game-status {
    height: 10%;
}

.navigation-bar {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    font-size: 22px;
    background-color: rgb(150,160,210);
    padding: 10px;
}

.card-holder div {
    width: 75px;
    height: 100px;
    display: inline-block;
    margin: 10px;
}

.card-holder img {
    width: 60px;
    height: 95px;
}

form {
    height: 50px;
}

form input[type=button]{
    width: 100px;
    padding: 16px 32px;
    margin: 4px 2px;
    font-size: 25px;
    cursor: pointer;
}