*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    align-items: center;
    
    background: linear-gradient(rgb(156, 220, 255),rgb(112, 169, 255));
    
    font-family: fantasy;
    color: white;
    
    text-align: center;
    
    background-image: url("forestBackground.png");
    background-position: -15px 625px;
    background-repeat: repeat-x;
    background-size: 65% 45%;
    background-color: rgb(140, 150, 200);
}

a {
    text-decoration: none;
}

#background-image {
    position: absolute;

    width: 150vw;
    
    bottom: -275px;
    
    z-index: -100;
    
    opacity: 0.2;
}

#list-header input {
    height: 30px;
    margin: 10px;
}

#list-holder {
    position: static;
    height: 100%;
}

.navigation-bar {
    position: absolute;
    top: 25px;
    font-size: 22px;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span {
    font-size: 30px;
    padding: 10px;
}
.degree-section h2 {
    font-size: 45px;
}

.todo-list-item {
    
    height: 10%;

    margin-top: 20px;
    margin-bottom: 70px;
    
}